interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sampleapis.com/beers/ale/1
  response:
    body:
      string: '{"price":"$16.99","name":"Founders All Day IPA","rating":{"average":4.411243509154233,"reviews":453},"image":"https://www.totalwine.com/media/sys_master/twmmedia/h00/h94/11891416367134.png","id":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c5-qMcSGxHvb3IPI2xZDMM1AIl4vmw"
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4998'
      X-RateLimit-Reset:
      - '1707492339'
    status:
      code: 200
      message: OK
version: 1
